section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movie-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.loading {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 5rem;
    text-align: center;
    animation: pulse 1000ms infinite;
}

.error-msg,
.empty-msg {
    color: #fff;
    font-size: 1.5rem;
    margin: 3rem;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.9;
    }
}

@media (max-width: 1200px) {
    .movie-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .movie-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .movie-list-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .error-msg,
    .empty-msg {
        font-size: 0.9rem;
    }

    .loading {
        font-size: 1.2rem;
    }
}