.details-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  width: 70%;
}

.image-detail-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-detail-holder img {
  width: 20rem;
  height: auto;
}

.movie-detail-holder {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.title-detail-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.details-title {
  font-size: 3rem;
}

.rating-holder {
  display: flex;
  align-items: center;
}

.rating-icon {
  color: #f3ce13;
  font-size: 2.5rem;
}

.rating-title {
  font-size: 3rem;
}

.genre-holder {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.genre-title {
  margin: 0rem 0.5rem;
}

.overview-holder {
  margin-bottom: 2rem;
}

.add-btn-icon {
  font-size: 2rem;
  color: #fff;
  margin-right: 0.5rem;
}

.add-btn {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  color: #fff;
  background: #333;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-btn:hover,
.remove-btn:hover {
  background: #444;
}

.remove-btn {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  color: #fff;
  background: #333;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .image-detail-holder img {
    width: 100%;
    height: auto;
  }

  .details-title {
    font-size: 2.5rem;
  }

  .rating-icon {
    font-size: 2rem;
  }

  .rating-title {
    font-size: 2.5rem;
  }

  .overview-holder p {
    font-size: 0.9rem;
  }
}

@media (max-width: 900px) {
  .details-container {
    width: 100%;
  }

  .image-detail-holder img {
    width: 15rem;
  }

  .title-detail-holder {
    margin-bottom: 1.2rem;
  }

  .details-title {
    font-size: 2rem;
  }

  .rating-icon {
    font-size: 1.5rem;
  }

  .rating-title {
    font-size: 2rem;
  }

  .genre-holder {
    font-size: 0.9rem;
    margin-bottom: 1.1rem;
  }

  .genre-title {
    margin: 0rem 0.5rem;
  }

  .overview-holder p {
    font-size: 0.8rem;
  }

  .remove-btn,
  .add-btn {
    font-size: 0.8rem;
  }

  .add-btn-icon {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .details-container {
    padding: 3rem;
  }

  .image-detail-holder img {
    width: 15rem;
  }

  .details-title {
    font-size: 2rem;
  }

  .rating-icon {
    font-size: 1.5rem;
  }

  .rating-title {
    font-size: 2rem;
  }

  .overview-holder p {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .details-container {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .image-detail-holder img {
    margin-bottom: 2rem;
  }

  .details-title {
    font-size: 1.5rem;
  }

  .rating-icon {
    font-size: 1rem;
  }

  .rating-title {
    font-size: 1.5rem;
  }

  .overview-holder p {
    font-size: 0.7rem;
  }

  .genre-holder {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .genre-title {
    margin: 0rem 0.3rem;
  }
}
