header {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 7rem;
    height: 7vh;
}

.logo {
    background: #f3ce13;
    padding: 0rem 0.5rem;
    border-radius: 0.4rem;
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

nav ul li {
    color: #fff;
}